QLabel{
    font-size: 20px;
    font: calibri;
}
QWidget{
background: #ffffff;
color: dark;
font-size: 15px;
font-weight: 900;
}
QLineEdit{
    color: Black;
    background: white;
    border: 1px solid dark;
    border-radius: 3px;
}

QPushButton{
    font-size: 23px;
    font: calibri;
    border-radius: 5px;
    background: #ffffff;
}
QPushButton#btn_exitNewPlayer:hover{
    background: #cc0000;
}
QPushButton#btn_commitNewPlayer:hover{
    background: #009900;
}